body {
  padding: 20px;
}

button {
  cursor: pointer;
}

a {
  display: block;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #000000;
  text-decoration: none;
}

.wrapper {
  max-width: 360px;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(169, 169, 169, 0.5);
}

.form {
  max-width: 360px;
}

.delay {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.delay-input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  padding-right: 16px;
}

.delay-input:hover {
  border: 1px solid #000000;
}

.delay-input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form fieldset {
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  margin-bottom: 24px;
}

fieldset > label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  padding-left: 48px;
  align-items: center;
}

input[type='radio'] {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
}

button:hover {
  background: #6c8cff;
}
